@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

li, a, ul{
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

a{
    
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple__text{
    color: #6415ff;
}

.container{
    padding: 96px 0px;
}

#landing{
    padding: 32px 32px 0px 32px;
}


/* Navigation*/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: rgb(36, 62, 99);
    font-size: 20px;
    font-weight: 500;
    padding: 24px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__pic{
    width: 40px;
    height: 40px;
}

.logo__name{
    margin-left: 12px;
    font-weight: 700;
    font-size: 24px;
    color: #243363;
    cursor: pointer;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link--login{
    color: rgb(36, 62, 99);
    font-size: 20px;
    font-weight: 500;
    margin-left: 12px;
    padding: 24px;
}

.nav__link--btn{
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: white;
    
}

/* Header */

header{
    padding: 0px 24px;
}



.weird__circle1{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    transform: translateX(-125px);
    height: 256px;
    width: 256px;
}

.column{
    display: flex;
}

.header__info{
    width: 40%;
}

h1{
    font-size: 48px;
    color: #243363;
}

.header__desc{
    font-size: 16px;
    line-height: 1.5;
    margin: 32px 0px;
}

p{
    color: #7C8BA1;
    font-weight: 400;
}

.email{
    position: relative;
}

.email__input{
    padding: 22px 0;
    padding-left: 32px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    border-color: rgba(40, 66, 150, 0.1);
    transition: all 300ms ease;
    color: rgba(45, 68, 144, 0.6);
}

.email__btn{
    position: absolute;
    right:0;
    margin: 8px 8px 8px 0px;
    padding: 14px 0;
    width: 160px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: #f7fafc;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

h3{
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.header__customers--wrapper{
    width: 70%;
    opacity: 0.5;
    margin: 16px 0px;
}

.header__img{
    width: 80%;
    margin-left: 24px;
}

.header__img--wrapper{
    width: 100%;
}

/* Features */

.weird__circle2{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    transform: translate(125px, 1000px);
    height: 600px;
    width: 256px;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    font-size: 24px;
}

.features__title{
    font-size: 48px;
    color: #243363;
    font-weight: 700;
    margin-top: 24px;
}

.features__text{
    padding: 0px 32px;
}

.features__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #7C8BA1;
    max-width: 576px;
    margin: 24px 0px 36px 0px;
}